/*###########################
CONTROL PANEL LAYOUT
###########################*/
#wrapper {

}

#header {
	height: 30px;
	
	position: relative;

	padding: 20px 40px 20px 40px;
	
	background: #292929;
}

#logo {
	float: left;
	
	font-family: 'Swiss921BT', Verdana, Tahoma, Arial;
	font-size: 30px;
	color: #d1d1d1;
}

#nav {
	position: absolute;
		bottom: 0px;
		right: 40px;
}

#nav a {	
	display: inline-block;
	
	padding: 5px 10px 5px 10px;
	
	font-size: 15px;
	font-family: 'Yanone Kaffeesatz', Verdana, Tahoma, Arial;
	letter-spacing: 0.1em;
	color: #d5d5d5;
	
	background: #464646;
}

#nav a:link {
	font-weight: normal;
}

#nav a:visited {
	font-weight: normal;
}

#nav a:active {
	font-weight: normal;
	
	background: #141414;
}

#nav a:hover {
	font-weight: normal;
	
	background: #141414;
}

#logged-in-as {
	position: absolute;
		top: 20px;
		right: 40px;
		
	font-size: 9px;
	color: #ffffff;
}

#content {
	padding: 20px 40px 20px 40px;
}

/*###########################
DASHBOARD
###########################*/
#introduction {
	margin-bottom: 50px;
	
	font-size: 18px;
}

#steps {
	list-style: none;
	
	font-size: 11px;
	line-height: 1.2em;
}

#steps li {
	height: 60px;
	width: 180px;
	
	padding-top: 1%;
	
	display: inline-block;
	
	padding-left: 70px;
}

#step1 {
	position: relative;
		top: -13px;
	background: url("../images/step1_checked.png");
	background-repeat: no-repeat;
}

#step2 {
	background: url("../images/step2.png");
	background-repeat: no-repeat;
}

#step3 {
	background: url("../images/step3.png");
	background-repeat: no-repeat;
}

.attribute-name {
    font-weight:bold;
    padding-right:10px;
}

.attribute-value {
}

/*###########################
STATISTICS
###########################*/
.stats-box {
	height: 60px;
	width: 112px;
	
	margin-right: 10px;
	margin-bottom: 30px;
	float: left;
	
	padding: 10px;
	
	font-size: 11px;
	
	border: 2px solid #d4d4d4;
}

.stats-box .number {
	margin-top: 10px;

	font-size: 30px;
	font-weight: bold;
	color: #b0b0b0;
}

.stats-graph {
	height: 300px;
	width: 580px;
}

.search-table {
	width: 580px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.search-table th, #searchlog th{
	font-weight: bold;
	text-align: left;
}

.search-table td, .search-table  th, #searchlog td, #searchlog th{
	padding-right: 3px;
	padding-left: 3px;
}

.search-table tr:nth-child(odd), #searchlog tr:nth-child(odd) {
	background: #ffffff;
}

.search-table tr:nth-child(even), #searchlog  tr:nth-child(even) {
	background: #eeeeee;
}

table.search-words {
	border-width:0;
}

table.search-words th {
	font-weight: bold;
	text-align: left;
}

table.search-words tr td {
	padding-right: 10px;
}

table.search-words tr:nth-child(odd) {
	background: #ffffff;
}

table.search-words tr:nth-child(even) {
	background: #eeeeee;
}

/*###########################
SETTINGS
###########################*/

#settings-form td input[type=text]{
	width: 400px;
}

#settings-form input[name=submit]{
	width: 400px;
}

#settings-form input[name=submit] {
	height: 35px;
	width: 89px;
	
	text-indent: -9999px;
	
	background: url("../images/btn_gem.png");
	
	cursor: pointer;
	
	border: 0px;
}

#settings-form input[name=submit]:hover {
	background-position: -89px 0px;
}

#settings-form input[name=cancel] {
	height: 35px;
	width: 89px;
	
	text-indent: -9999px;
	
	background: url("../images/btn_anuller.png");
	
	cursor: pointer;
	
	border: 0px;
}

#settings-form input[name=cancel]:hover {
	background-position: -89px 0px;
}


#settings td {
	padding-bottom: 20px;
}

.setting-text {
	width: 200px;
}

.setting {
	width: 450px;
}

.settings-description {
	width: 250px !important;
	
	font-size: 11px;
	font-style: italic;
}

/*###########################
SEARCH LOOK-AND-FEEL
###########################*/
#search-results {
	width: 60%;
	
	margin-top: 30px;
	margin-bottom: 30px;
}

#full-layout {
	height: 300px;
	width: 60%;
}

#empty-layout {
	height: 300px;
	width: 60%;
}

#tags {
	margin-left: 20px;
}

input[name=search_submit] {
	height: 35px;
	width: 89px;
	
	text-indent: -9999px;
	
	background: url("../images/btn_sog.png");
	
	cursor: pointer;
	
	border: 0px;
}

input[name=search_submit]:hover {
	background-position: -89px 0px;
}

input[name=save] {
	height: 35px;
	width: 89px;
	
	text-indent: -9999px;
	
	background: url("../images/btn_gem.png");
	
	cursor: pointer;
	
	border: 0px;
}

input[name=save]:hover {
	background-position: -89px 0px;
}
/*###########################
DOWNLOADS
###########################*/
.module {
	padding: 15px;
	
	background: #f0f0f0;
	
	border: 1px solid #d8d9d9;
}

.module img {
	text-align: center;
}

.module.three-column {
	width: 270px;
}

.module.three-column-left {
	margin-right: 15px;
}

.module.three-column-center {
	margin-left: 15px;
	margin-right: 15px;
}

.module.three-column-right {
	margin-left: 15px;
}

/*###########################
STATUS
###########################*/
input[name=crawl] {
	height: 32px;
	width: 157px;
	
	text-indent: -9999px;
	
	background: url("../images/btn_besog.png");
	
	cursor: pointer;
	
	border: 0px;
}

input[name=crawl]:hover {
	background-position: -157px 0px;
}

/*###############################
USER
###############################*/
.actions {
    //width:100px;
}

.actions a:link {
	font-weight: normal;
}

.actions a:visited {
	font-weight: normal;
}

.actions a:active {
	font-weight: normal;
}

.actions a:hover {
	font-weight: normal;
	
}

table.users tr td, table.users tr th {
    padding-right:15px;
    
	//background: #333333;
}